<!DOCTYPE html>
<html>
  <h1>아이폰 케이스 주문 사이트 로그인</h1>
    {% if error %}
        <p><strong>Error:</strong> {{ error }}
     {% endif %}

  <body>
    <form action="" method="post">
      <dl>
        <dt> 아이디 :</dt>
        <dd>
          <input type="text" name="username"    
            value = "{{request.form.username }}">
        </dd>
        <dt> 비밀번호 :</dt>
        <dd><input type="password" name="password"/></dd>
      </dl>
      <p><input type="submit" value="Login"></p>
    </form>
  </body>
</html>
